{{#> layout}}
{{#*inline "content"}}

<section class="bg-light py-5">
  <div class="container">
    <div class="text-center">
      <h2>
        Share your code snippets
      </h2>
      <p class="lead">
        Codelets is a self hosted place for creating and sharing code snippets
        for yourself, friends, family, company.
      </p>
      <a href="/snippets/create" class="btn btn-primary">
        Create a new snippet
      </a>
    </div>
  </div>
</section>

{{/inline}}
{{/layout}}